html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fff;
  --secondary-color: #111;
  --tirtary-color: #8ed444;
}

::selection {
  color: var(--primary-color);
  background: var(--secondary-color);
}

body {
  background: var(--primary-color);
  color: var(--secondary-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 30px;
}

a:active{
  background-color: transparent;
}

/* UTILITY CLASSES */

.remove_list_style {
list-style: none;
}

.remove_link_style {
text-decoration: none;
color: inherit;
}

.trans2s {
transition: .2s ease-in-out;
}

/* MEDIA QUERRIES */

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
